/* -------------------------------
		0.1.-VARIABLES
-------------------------------- */

/* ----------- Fonts ------------- */
$primary-font: 'proxima-nova', sans-serif;

$secondary-font: 'proxima-nova-condensed', sans-serif;

$terciary-font: 'proxima-nova-extra-condensed', sans-serif;

$light: 300;

$regular: 400;

$medium: 500;

$bold: 700;

/* ----------- Main Colors ------------- */

$white: #FFF;

$black: #000;

$grey: #F6F7FA;

$secondary-grey: #DBDFE9;

$dark-grey: #6A727E;

$primary-color: #0052CB;

$secondary-color: #0B3C87;
