.title {
  box-shadow: 0 3px 6px rgba(#000, 0.16);
  padding-bottom: 34px;
  padding-top: 13px;
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 2;

  .breadcrumbs {
    margin-bottom: 22px;
    padding-left: initial;

    .breadcrumbs__item {
      text-decoration: underline;

      &.active {
        text-decoration: initial;
      }
    }

    .breadcrumbs__line {
      margin: 0 2px;
    }
  }
}
