.items__item {
  background-color: $white;
  border: 1px $secondary-grey;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba($black, 0.04);
  margin-bottom: 13px;
  margin-right: $item-separation;
  position: relative;

  // Third childs
  &:nth-child(3n) {
    margin-right: initial;

    // Ipad pro
    @include respond-below(md) {
     margin-right: $item-separation;
    }
  }

  // Second childs
  &:nth-child(2n) {
    // Ipad pro
    @include respond-below(md) {
      margin-right: initial;
    }
  }

  // Heart
  .items__item-heart-container {
    background-color: $white;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba($black, 0.16);
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;

    .items__item-heart {
      width: 16.19px;
    }
  }

  // Content
  .items__item-content {
    padding: 14px 11px 9px;

    .items__item-title {
      margin-bottom: 2px;
    }

    .items__item-copy {
      margin-bottom: 2px;
    }

    .items__item-price-container {
      border-top: 1px solid $secondary-grey;
      margin-top: 2.5px;
      padding-top: 6.5px;

      .items__item-price-status {
        padding-left: 2px;
        padding-right: 4px;
      }
    }
  }
}
